Popis, ako sa robi tento test.

%ul{ data: { controller: 'sortable' } }
  %li{ data: { sortable_update_url: root_path } } pokojny
  %li radostny
  %li mily
  %li zalubeny

= link_to 'začať kvíz', @first_question