.div
  Každá "strana" tohto testu obsahuje štyri vlastnosti.
  Tvojou úlohou bude zoradiť nasledujúce vlastnosti podľa toho,
  ako veľmi na teba sedia - čím vyššie danú vlastnosť umiestniš, tým viac ťa opisuje. Naopak, vlastnosti umiestnené nižšie ťa opisujú menej alebo vôbec.
  %strong Vlastnosti môžeš presúvať, pokojne si to skús.

%ul{ data: { controller: 'sortable' } }
  %li pokojny
  %li radostny
  %li mily
  %li zalubeny

= link_to 'začať kvíz', @first_question