.container
  .instruction
    .seal
      = image_tag 'seal.png', width: 35
    .text
      Zoraď nasledovné vlastnosti podľa toho, ako veľmi na teba “sedia”. Čím viac ťa daná vlastnosť opisuje, tým vyššie ju umiestni.”

  %ul{ data: { controller: 'sortable' } }
    %li.pill.pill__option Pokorný
    %li.pill.pill__option Usmievavý
    %li.pill.pill__option Pohľadný
    %li.pill.pill__option Múdry

  .page-end
    %p
      Toto bola cvičná otázka, samozrejme.
    = link_to 'Začať kvíz', @first_question, class: 'pill pill__black'